<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data noupdate='1'>
        <record id="menu_attachments" model="website.menu">
            <field name="name">Documents</field>
            <field name="url">/Attachments</field>
            <field name="parent_id" ref="website.main_menu"/>
            <field name="sequence" type="int">35</field>
        </record>
    </data>
</odoo>
