.o_column_button {
    display: none;
}
.o_column_button a {
    font-size: 16px;
    padding: 8px;
}
.o_column_button a:hover i {
    color: white;
}
.btn-nostyle {
    background: none;
    border: none;
}