input.docker {
    width: 100%;
    min-width: 199px;
    padding: 5px 3px 5px 5px;
    margin: -3px;
    border: 1px solid #dddddd;
    color: #21b799;
}
button.docker-btn {
    margin-left: -37px;
    margin-top: -3px;
}
ol li {
    padding: 5px;
}