.btn-show-hide-group {
    color: $o-brand-odoo;
    padding: 0.375rem 0.75rem;
    border: 0;
    background: transparent;
    font-size: 1.08333333rem;
    line-height: 1.5;
}

.btn-show-hide-group:hover {
    color: $o-brand-odoo;
    border: 0px solid transparent;
}