.o_code_version a {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.o_code_version a:hover {
    opacity: 0.8;
}